;; Analyzed by ClojureScript 1.8.40
{:name game.client.page_menu, :doc nil, :excludes #{}, :use-macros {defcom game.shared.macros, html sablono.core}, :require-macros {pprint cljs.pprint, rum.core rum.core, game.shared.macros game.shared.macros, rum rum.core, macros game.shared.macros, sablono.core sablono.core, sablono sablono.core, m cats.core, cats.core cats.core, cljs.pprint cljs.pprint}, :uses {join clojure.string, $ jayq.core}, :requires {pprint cljs.pprint, p promesa.core, promesa.core promesa.core, routing game.client.routing, jayq jayq.core, game.client.routing game.client.routing, rum.core rum.core, rum rum.core, sablono.core sablono.core, sablono sablono.core, m cats.core, cats.core cats.core, jayq.core jayq.core, cljs.pprint cljs.pprint, com.stuartsierra.component com.stuartsierra.component, component com.stuartsierra.component, string clojure.string, clojure.string clojure.string}, :imports nil}